body{margin: 0;padding: 0; width: 100%; height: 100vh;} 
ul{list-style: none;padding: 0;margin: 0;}
a{text-decoration: none;color: inherit;}

@font-face {
    font-family: 'NPSfontBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}


/* 메인 페이지 시작  */

#wrap{
    width: 100%;
    height: auto;
    /* background: url(../img/background/555.jpg) no-repeat center / cover; */
    background: linear-gradient(to top, #f14666, #ecf0f1, #acd2fa, #a9aaff);
}
    

.mainpage{
    transition: all 2s;
    width: 100%;
    height: 100vh;
    display: flex;
}
.mainL{
    width: 50%;
    height: 100%;
    display: flex;
}
.mainL1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
    background: url(../img/background/풍선.jpg) no-repeat right / cover;
}
.mainL2{
    width: 50%;
    height: 100%;
    display: flex;
    min-width: 300px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1em;
    background:#FDF0F0;
    position: relative;
    font-size: 100%;
}

.texttt{
    opacity: 0.2;
    font-weight: bold;
    font-size: 160px;
    color: #333;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-60%, -50%) rotate(-90deg);
}

.mainR{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainR11{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../img/background/3dballoon.jpg) no-repeat center / cover;
}


.yeyiwon {
    display: flex;
    width: 100%;
    /* height: 50%; */
    align-items: flex-end;
}
.yeyiwon2{
    display: flex;
    width: 100%;
    /* height: 50%; */
    align-items: flex-start;
}

.yeyiwonimg img  {
    width: 100%;
    height: 100%;
}

.yeyiwonimg{
    width: 10em;
    height: 10em;
}
.yeyiwon3{
    display: none;
}

.nav{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    padding: 1em;
    box-sizing: border-box;
    margin: 20px auto;
    max-width: 1400px;
    border-radius: 50px;
    background: url(../img/background/555.jpg) no-repeat center / cover;
    height: 60px;
    display: flex;
    gap: 15px;
    align-items: flex-end;
    flex-direction: row;
}


.icon{
    height: 100px;
    width: 100px;
    animation: bounce 0.5s infinite alternate;
}
.icon img {
    width: 100%;
    height: 100%;  
}
@keyframes bounce {
    0% {transform: translateY(0);}
    100% {transform: translateY(-15px); }
}

.icon1{animation-delay: 0.2s;}
.icon2{animation-delay: 0.4s;}
.icon3{animation-delay: 0.6s;}
.icon4{animation-delay:0.8s;}
.icon5{animation-delay: 1.0s;}
.icon6{animation-delay: 1.2s;}
.icon7{animation-delay: 1.4s;}
.icon8{animation-delay: 1.6s;}
.icon9{animation-delay: 1.8s;}
.icon10{animation-delay: 2.0s;}
.icon10{animation-delay: 2.0s;}
.icon11{animation-delay: 2.2s;}
.icon12{animation-delay: 2.4s;}

.img_box{
    width: 50%;
    height: 100%;
    display: flex;
}
.img_box > img{
    width: 100px;
    height: 100px;
}


/* 메인 페이지 끝  */

/* glass_box 시작  */

.glass_box{
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 35px;
}

.sec{width: 100%; height: 100vh; font-family: 'NPSfontBold', sans-serif;}
.sec0, .sec1, .sec2, .sec3, .sec4{display: flex;overflow: hidden;box-sizing: border-box;position: relative;flex-direction: column;}
/* 섹션 1 */
.sec1_box{
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.sec1_L{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sec1_L_img{
    width: 80%;
    height: 80%;
    border-radius: 30px;
    background: url(../img/cute/rabbit1.png) no-repeat center / cover;
    box-shadow: 3px 44px 32px rgba(0, 0, 0, 0.4);
    inset: inset -20px 20px 20px rgba(255, 255, 255, 0.4);
}
.glass-effect {
    border-radius: 20px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);}

.sec1_R{
    width: 50%;
    height: 100%;
}
.sec1_R_h1{
    opacity: 0.5;
    line-height: 50px;
    letter-spacing: -5px;
    font-weight: 900;
    padding: 0;
    color: #333;
    font-size: 60px;
    text-align: center;
}

/* 사이드 nav바 */
.sec_nav{
    width: 80px;
    position: fixed;
    left: 30px;
    top: 120px;
    z-index: 99;
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);
}

.sec0btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #333;
    background: url(../img/cute/rabbit2PP.png) no-repeat center / cover;  
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(19px);
}

.sec_nav_bar{
    padding: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    gap: 20px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec_nav_bar > li{
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
}
.sec_nav_bar > li > a{display: block;}
.sec_nav_bar li > a > img {
    width: 50px;
    height: 50px;
}

.sec1_R_text{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.ttt{
    line-height: 60px;
    width: 100%;
    font-size: 26px;
}

/* 섹션 2 시작  */

.sec2_box {
    box-sizing: border-box;
    margin: 0 auto;
    width: 90%;
    min-width: 780px;
    height: 90%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.skill_chart_L {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    height: 100%;
    justify-content: space-between;
}

.skill_chart_R {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.title_box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 1em;
    height: 150px;
}
.title_box > img {
    width: 100px;
    height: 100px;
}

.skill_chart_box {
    width: 100%;
    display: flex;
    height: 62%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
}
.chattem {
  width: 100px;
  height: 100%;
  display: flex;
  text-align: center;
  width: 100px;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.barbox {
    width: 40px;
    background: rgba(255,255,255, 0.3);
    height: calc(100% - 50px - 70px);
    border-radius: 5px;
    position: relative;
}

.skill_chartimg {
    width: 70px;
    height: 70px;
    margin: 10px auto;
}

.skill_chartimg > img{
    width: 100%;
    height: 100%;
}

.bar {
    position: absolute;
    background: #f14666;
    bottom: 0;
    width: 100%;
    border-radius: 5px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
}

.psbox {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 50px;
}

.sktitle {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 1px 0px rgba(25, 25, 25, 0.3);
    color: #333;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -1px;
}
.skill_chartnavBOT {
    width: 100%;
    padding: 2em;
    gap: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.skbot {
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: space-evenly;
}

.skbot > li img {
    width: 75px;
    height: 75px;
}

/* sec3 시작 */
.sec3box{
    margin: 30px auto;
    width: 85%;
    height: 90%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.sec3box2{
    margin: 30px auto;
    width: 85%;
    height: 90%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.sec3boxR{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 15px;
    width: 95%;
    /* height: 200px; */
    display: flex;
    gap: 20px;
    flex-direction: row;
    background: rgba(255,255, 255, 0.3);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(70px);
    justify-content: space-around;
    align-items: flex-end;
}

.sec3text{
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
}
.sec3title{
    font-size: 25px;
}
.sec31{
    font-size: 20px;
    color: #f14666;
}
.sec3p{
    font-size: 19px;
}

.sec3boxL {

    box-sizing: border-box;
    padding: 1.5rem;
    border-radius: 15px;
    width: 95%;
    height: 90%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;

    background: rgba(255,255, 255, 0.7);
    box-shadow: 14px -14px 14px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);

}

/* 슬라이드 */

.sec3_imgbox{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.sec3_imgbox2{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.sec3_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sec3_img2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sec3_img2 img{
    width: 100%;
    height: 100%;
}

.sec3_img img{
    width: 100%;
    height: 100%;
}

.sec3_btn{
    width: 100px;
    height: 100%;
    border: none;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px;
    transition: all 0.5s;
    opacity: 0;
}
.sec3_btn2{
    width: 100px;
    height: 100%;
    border: none;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px;
    transition: all 0.5s;
    opacity: 0;
}

input {background-color: rgba(255, 255, 255, 0);}
.sec3_btn:hover{opacity: 1;}

input {background-color: rgba(255, 255, 255, 0);}
.sec3_btn2:hover{opacity: 1;}


.btn_L{left: 0;}
.btn_R{right: 0;}

.btn_L2{left: 0;}
.btn_R2{right: 0;}

.indis{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
.indis2{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
.indi{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.8;
}
.indi2{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.8;
}

.indi_active{background: #333;opacity: 0.8;}
.indi2_active{background: #333;opacity: 0.8;}
    .linkbtn{
        width: 140px;
        height: 55px;
        text-align: center;
        font-size: 20px;
        line-height: 55px;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 25px;
        background: rgba(255,255,255, 0.5);
    }

    .linkbtn:hover{
        background: #333;
        color: #fff;
    }
    .linkbtn > a{
        display: block;
        width: 100%;
        height: 100%;
    }


.top_btn{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    cursor: pointer;
    font-weight: 900;
    display: flex;
    justify-content: center;
    line-height: 65px;
    background: url(../img/icon/Arrow_Left0002.png) no-repeat center / cover;
    transform: rotate(70deg);
    display: none;
    transition: all 1s;
    animation: turn 1s linear infinite alternate;
}

@keyframes turn {
    0%{transform: rotate(60deg);}
    100%{transform: rotate(90deg);}
    
}

/* sec4 시작 */
.sec4box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.item_box {
    margin-top: 50px;
    padding: 1rem;
    width: 100%;
    gap: 50px;
    color: #444;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.item {
    width: clac((100% - 50px ) / 2);
    height: 100%;
}

.item a{
    display: block;
    width: 100%;
    height: 100%;
}

.item a img{
    width: 300px;
    height: 300px;
    animation: bounce3 1s infinite alternate;
}

.sec3R{
    display: flex;
    gap: 20px;
    align-items: baseline;
}
.gitgit img{
    width: 60px;
    height: 60px;
}
.gitgit{
    text-align: center;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;

}

@keyframes bounce3 {
    0% {transform: translateY(0);}
    100% {transform: translateY(15px);}
}
.item_desc {
    font-size: 25px;
    margin-top: 10px;
}


@media (max-width: 780px){
.mainL{display: none;}
.mainR{width: 100%;height: 100%;}
.yeyiwon3{display: block;display: flex;}
.yeyiwonimg {width: 5em;height: 5em;}
.icon{width: 5em;height: 5em;}
.icon6, .icon7, .icon9, .icon11{display: none;}
.sec_nav {
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0px 0px 15px 15px;}
.sec_nav_bar {
    height: 100px;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;}
.sec_nav_bar > li > a {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;}

.sec1_box {
    width: 100%;
    overflow: hidden;
    display: flex;}

.sec1_L{width: 50%;}

.sec1_L_img {
    width: 100%;
    height: 100%;}

.sec1_R{width: 50%;}

.sec1_R_h1 {font-size: 2.5em;}
.ttt {font-size: 1.3em;}

.sec2_box {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;}

    .skill_chart_R {
    width: 95%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.skill_chart_R {
    width: 95%;}

.skbot {
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: space-evenly;
}

.skbot > li img {
    width: 50px;
    height: 50px;
}

.sec3box {width: 100%;height: 100%}
.sec3box2 {width: 100%;height: 100%;}
.sec3boxR{display: flex;flex-direction: column;}
.sec3title {font-size: 22px;}
.sec31 {font-size: 20px;}
.sec3p {font-size: 16px;}

.sec3R{
    display: flex;
    gap: 20px;
    flex-direction: row;

}
.sec3boxR{
    display: flex;
    flex-direction: row;
}


.linkbtn {
    width: 100px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
}

.top_btn {
    width: 60px;
    height: 70px;
}

.item_box {
    margin-top: 50px;
    padding: 1rem;
    width: 100%;
    gap: 30px;
    color: #444;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.item {
    width: clac((100% - 50px ) / 2);
    height: 100%;
}
.item a img{
    width: 150px;
    height: 150px;
    animation: bounce3 1s infinite alternate;
}

}
