@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply bg-slate-100 text-gray-800;
    }
    .dark body {
        @apply bg-gray-800 text-slate-100;
    }
}

li{
    @apply whitespace-nowrap cursor-pointer
}
.header {
    @apply fixed top-0 left-0 w-full flex items-center justify-between p-4 bg-slate-100 dark:bg-slate-800 z-50;
}

.header_title {
    @apply text-lg font-bold cursor-default;
}

.nav_list {
    @apply flex space-x-6;
}

.nav_link {
    @apply cursor-pointer text-sm font-bold text-gray-700 dark:text-gray-300 hover:text-indigo-700;
}


.text_gradient {
    
    @apply font-bold text-3xl bg-gradient-to-r from-blue-300 to-purple-700 bg-clip-text text-transparent animate-gradient cursor-default;
}

@keyframes gradient-animation {
    0% {background-position: 0% 50%;}

    50% {background-position: 100% 50%;}

    100% {background-position: 0% 50%;}
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradient-animation 3s ease infinite;
}

.section {
    /* height: 100vh; */
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    justify-content: center;
}

/* home */


.profile_img {
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
}
.home_title {
    @apply flex flex-col sm:flex-row gap-6 py-6;
}
.home_title{
    /* height: 400px; */
}

.Certificate{
    @apply bg-slate-200 rounded-md p-1 text-sm mr-2 font-bold dark:bg-slate-500;

}
.About_sectionUl{
    display: flex;
    flex-direction: column;

}
.section_title{
    @apply font-bold text-2xl border-b my-4 
}
.section_title h2{
    @apply flex items-center gap-2 py-2 cursor-default

}

.contactLink{
    @apply text-slate-500 text-base hover:text-slate-800 flex items-center dark:text-slate-200 no-underline hover:underline dark:hover:text-slate-400;
}

/* About */

.AboutMe{
    @apply flex flex-col gap-1 p-4 shadow-md rounded-md
}
.AboutMe h2{
    @apply font-bold text-xl py-2 cursor-default
}
.AboutMe > ul {
    @apply flex flex-col gap-4 
}
.AboutMe>ul>li{
    @apply text-base
}


/* Project */
.Project_card {
    @apply flex flex-col shadow-md rounded-2xl overflow-hidden hover:shadow-xl transition-shadow duration-300;
}

.ProjectDetail{
    @apply flex flex-col gap-4 justify-between p-4;
}

.ProjectDetailh3{
    @apply text-lg flex items-center font-semibold text-gray-600 dark:text-slate-100 cursor-default
}
.ProjectDetail p{
    @apply text-sm dark:text-slate-100 cursor-default
}
.ProjectDetailh3 img{
    @apply w-8 
}
.badge{
    @apply flex items-center gap-1 border rounded-lg px-2 py-1 bg-gray-100 text-xs text-slate-800 cursor-default dark:bg-slate-800 dark:text-slate-100
}
.ReactBadge{
    /* @apply bg-slate-800 text-slate-100 */
}
.LinkBtn{
    @apply text-sm rounded-lg shadow-lg p-2 flex items-center text-slate-200 bg-slate-800 hover:bg-slate-600 transition-colors duration-200 dark:bg-slate-700 dark:text-slate-100;
}
.ProjectType{
    @apply text-zinc-700 bg-indigo-100 rounded-md p-1 text-xs ml-2 cursor-default;
}
.TeamProject{
    @apply bg-teal-50 text-zinc-700 rounded-md p-1 text-xs ml-2 cursor-default;
}
.ToyProject{
    @apply bg-slate-700 text-slate-100 rounded-md p-1 text-xs ml-2 cursor-default;
}

/*  Skill */

.skill_box_wrap{
    @apply rounded-md p-2 my-2 cursor-default
}
.skill_box_wrap h2{
    @apply text-slate-800 text-2xl font-semibold py-4 flex items-center gap-2 dark:text-slate-100
}
.skill_box_wrap h3{
    @apply text-slate-500 text-base font-semibold py-2 flex items-center gap-2 
    dark:text-slate-300
}
.Skill_box{
    @apply flex flex-wrap gap-4
}
.Skill_box li {
    @apply flex cursor-default items-center gap-2 rounded-lg shadow-md py-1 px-2 dark:bg-slate-200 dark:text-slate-800 hover:bg-slate-300 transition-colors duration-300
}
.Skill_box li img{
    width: 25px;
}